@{
    ViewData["Title"] = "Access denied";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<header>
    <h2 class="text-danger">Acceso denegado</h2>
    <p class="text-danger">Usted no tiene acceso a este recurso.</p>
</header><br/><br /><br /><br />
