@{
    ViewData["Title"] = "About";
}
<h2>Acerca de nosotros</h2>
<h3>¿Que somos?</h3>

<p>Almacenes Guitar es un sistema permite llevar un inventario de todos los productos de la empresa para controlar los productos y sus cantidades, podrán agregar productos y guardar todos los datos relacionados al producto, reportes de inventario, incluyendo las cantidades de los distintos productos ordenados por categorías. Este sistema está abierto para todas las organizaciones, de forma que cualquier empresa podrá registrarse y guardar sus datos.</p>
