@{
    ViewData["Title"] = "Contact";
}
<h2>Contactos</h2>
<h3>Puedes contactarnos por los siquientes medios</h3>

<address>
    Santo Domingo, Rep. Dominicana<br />
    Pantoja, Tel. 809-435-7623<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Soporte:</strong> <a href="">Guitar@example.com</a><br />
    <strong>Marketing:</strong> <a href="">AlmacenesGuitar@example.com</a>
</address>
