@{
    ViewData["Title"] = "Nosotros";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<center>
    <h1><b>Nosotros <img src="~/images/logo.png" /></b></h1>
    <hr /><br />
    <div id="Caja_nosotros">
        <p>
            Almacenes Guitar es una web fundada en el año 2018 por el Tecnico Marco Antonio De la cruz Santos,
            con el proposito de ayudar y facilitar a las empresas la menera de llevar sus inventarios, gracias a
            nuestro sistema podras llevar tu inventario y estar pendiente en cualquier momento, lugar y hora.
        </p>
    </div><br />
    <img src="~/images/fotos/sollutions.png" /><br /><br />
    <div id="Caja_nosotros_2">
        <p>
            La palabra virtual nos sugiere algo opuesto a lo real, es decir, que tiene una virtud para producir
            un efecto aparente, no real o simulado. Ahora bien, si decimos que un almacenamiento virtual es
            capaz de resguardar nuestra información de manera segura y disponer de ella en cualquier momento.
        </p><br />
        <p>
            Mucho se habla de la reducción de costos, de hacer más con menos, de ahorrar energía, de ser
            cuidadosos con el medio ambiente y, en resumen, darnos cuenta de la importancia de la ecología
            de nuestro planeta. Todo esto ha llevando a diversas empresas e instituciones a utilizar en
            forma más eficiente sus recursos, principalmente los destinados para el almacenamiento de la
            información, asegurando la total disponibilidad y óptima recuperación.
        </p><br />
        <p>
            No muy recientemente, ha tomado fuerza el concepto de almacenamiento virtual que promete el
            uso más adecuado de los recursos de almacenamiento físico y la disponibilidad total sin interrupciones.
            También se habla del respaldo en línea o en la nube (cloud) donde nuestra información se resguarda
            en “algún lugar” fuera de nuestra computadora personal.
        </p>
    </div>
</center>