@using Microsoft.AspNetCore.Identity
@using proyectofinal.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Almacenes Guitar</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Almacenes Guitar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    
    <link href="~/css/Estilo123.css" rel="stylesheet" />
    <link href="~/css/navmenu/styles.css" rel="stylesheet" />
    <link href="~/css/portfolio.jquery.css" rel="stylesheet" />
    <link href="~/css/fonticons.css" rel="stylesheet" />
    <link href="~/css/stylesc.css" rel="stylesheet" />
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/bootstrapcsc.min.css" rel="stylesheet" />

    <!--For Plugins external css-->
    <link rel="stylesheet" href="assets/css/plugins.css" />
    <!--Theme custom css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!--Theme Responsive css-->
    <link rel="stylesheet" href="assets/css/responsive.css" />
    <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
    @await Html.PartialAsync("_MenuPartial")
    <div id="Caja1">
        @RenderBody()
    </div>
    
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="copyright_text text-center">
                        <p class=" wow fadeInRight" data-wow-duration="1s">Almacenes Guitar - 2018 All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- START SCROLL TO TOP  -->
    <div class="scrollup">
        <font size="20px"><i><a href="#">🔼</a></i></font>
    </div>
    <script src="~/js/JavaS/jquery-1.11.2.min.js"></script>
    <script src="~/js/JavaS/bootstrap.min.js"></script>
    <script src="~/js/JavaS/jquery.easypiechart.min.js"></script>
    <script src="~/js/JavaS/portfolio.jquery.js"></script>
    <script src="~/js/JavaS/jquery.mixitup.min.js"></script>
    <script src="~/js/JavaS/jquery.easing.1.3.js"></script>
    <script src="~/js/JavaS/jquery.slicknav.min.js"></script>
    <script src="~/js/JavaS/gmaps.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="http://maps.google.com/maps/api/js"></script>
    <script>
        var map = new GMaps({
            el: '.ourmaps',
            scrollwheel: false,
            lat: -12.043333,
            lng: -77.028333
        });
    </script>
    <script src="~/js/JavaS/plugins.js"></script>
    <script src="~/js/JavaS/main.js"></script>
    
</body>
</html>