@using Microsoft.AspNetCore.Identity
@using proyectofinal.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<nav>
    <div class="container">
        <div class="nav-top clearfix">
            <div class="logo">
                <a asp-area="" class="active" asp-controller="Account" asp-action="Inicio">
                    <img src="~/images/logo.png" alt="Logo" />
                </a>
            </div>
            <div class="head_top_social pull-right">
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                    <ul class="list-inline">
                        <li><font size="3px"><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">👤 @UserManager.GetUserAsync(User).Result?.CompletoNombre</a></font></li>
                        <li>Web Tel. 809-435-7623</li>
                    <li><a asp-controller="Home" asp-action="Administrador">Administrador</a></li>
                    <li><button type="submit" class="btn btn-link navbar-btn navbar-link">Cerrar sesi&oacuten</button></li>
                    </ul>
                </form>
            </div>
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
        </div>
    </div>
    <div class="main-nav navbar-collapse collapse">
        <div class="container">
            <div class="minilogo">
                <a asp-area="" class="active" asp-controller="Account" asp-action="Inicio">
                    <img src="~/images/logo2.png" alt="Logo" />
                </a>
            </div>
            <ul class="nav nav-justified">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li><a asp-area="" class="active" asp-controller="Account" asp-action="Inicio">Home</a></li>
                    <li><a asp-area="" asp-controller="User" asp-action="Index">Perfil</a></li>
                    <li><a asp-area="" asp-controller="Empresa" asp-action="Index">Empresas</a></li>
                    <li><a asp-area="" asp-controller="Productoes" asp-action="Index">Productos</a></li>
                    <li><a asp-area="" asp-controller="Productoes" asp-action="Inventario">Inventarios</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a></li>
                 
                }
            </ul>
        </div>
    </div>
</nav>